@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("Name"); }
@* OrderBy() takes the property to sort by *@

<ul>
    @foreach (var item in selection)
    {
        <li><a href="@item.Url">@item.Name</a>
			@Umbraco.Truncate(@item.ProjectContent,100) <a href="@item.Url">Read More..</a>
			</li>
			<hr/>
    }
</ul>